* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    text-decoration: none;
    border: none;
}

:root{
    --background: #EDECE4;
    --background-border: #CBC6B9;
    --background-footer:#2A2426;
    --text-black: #2A2426;
    --text-color: #988C77;
    --image-border: #CBC6B9;

    --font-size-small: 18px;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--background);
    border: 10px solid var(--background-border);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    width: 1200px;
    height: 876px;

    display: flex;
    justify-content: center;
}

main img{
    width: 680px;
    height: 876px;
}

main > aside{
    width: 480px;
    height: 598px;
}